body {
    font-family: 'Mukta', sans-serif;
}

/* --------------------------------------------------- box special */

.right-align {
    text-align: right;
}

section {
    border-top: 64px solid transparent;
    margin-top: -64px;
}

p {
    margin: 0;
}

/* --------------------------------------------------- headers */

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    padding-top: 50px;
}

h4 {
    font-family: 'Blinker', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    border-bottom: 0.5px solid #222;
}

.row {
    margin-bottom: 0;
}

.btn {
    border-radius: 10px;
}

/* --------------------------------------------------- header */
nav {
    background-color: #000;
    position: fixed;
    top: 0px;
}

.navbar-button {
    background-color: red;
    margin: 13px;
    font-family: 'Blinker', sans-serif;
    font-weight: 600;

}

.brand-logo {
    font-family: 'Blinker', sans-serif;
    margin-left: 15px;
}

.search-field {
    margin-top: 0;
}

#search-options {
    margin-top: 10px;
}

/* --------------------------------------------------- home section */
#home-section {
    background-image: url("/static/images/bg-winter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}



/* --------------------------------------------------- topics section */

#topics-section {
    min-height: 100vh;
}

#topics-header {
    padding-top: 15px;
    background-color: #eee;
}


.select-wrapper input.select-dropdown {
    border: none;
    font-size: 1rem;
    height: 1.2rem;
}

input[type=search]:not(.browser-default) {
    border: 1px solid #aaa;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 1rem;
    height: 2.5rem;
    background-color: white;
}


[type="checkbox"]+span:not(.lever) { 
    padding-left: 23px;
    padding-right: 10px;
}

.collapsible-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: 0;
    border-top: 2px solid #999;
}

.collapsible-body {
    padding: 0;
}

label {
    color: #000;
}

.topic-titles {
    font-weight: 600;
}

.header-background {
    background-image: linear-gradient(#fff, #ddd);
    
}

.details-background {
    background-image: linear-gradient(#ddd, #fff);
}

.comments-background {
    background-color: #eee; 
}

.commentsform-background {
    background-color: #fff;
}

.subtile-btn {
    font-size: 1.5rem;
    color: #222;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-form {
    display: none;
    height: 0px;
    background-color: lightblue;
}

.cancel-comment {
    display: none;
    float: left;
}

.submit-comment {
    display: none;
    float: right;
}

.thumb-up, .thumb-down {
    display: inline-block;
}

.thumbscount {
    display: inline-block;
}