/* --------------------------------------------------- box and color special */

.right-align {
    text-align: right;
}

p {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row {
    width: 100%;
}

.white-text {
    color: white;
}

section {
    border-top: 64px solid transparent;
    margin-top: -64px;
}

.placeholder-bottom-section {
    height: 20px;
}

.select-wrapper input.select-dropdown {
    font-size: 1rem;
    height: 2rem;
    border: 1px solid #fff;
    padding-left: 5px;
    border-radius: 5px;
}

/* changing the color of Materialize elements */

.select-wrapper input.select-dropdown:focus {
    border: 1px solid #1976d2;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right-color: #1976d2;
    border-bottom-color: #1976d2;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #1976d2;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after,
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #1976d2;
    border-color: #1976d2;
}

.pagination li.active {
    background-color: #1976d2;
    border-radius: 50%;
}

input[type=text]:not(.browser-default) {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    height: 2rem;
    background-color: #fff;
}

textarea {
    border: 1px solid #aaa;
    padding: 5px 5px 5px 5px;
    height: 3.5rem;
    background-color: #fff;
}

.input[type=text]:focus {
    border: 1px solid #1976d2;
    color: #1976d2;
}

.progress {
    background-color: cyan;
}
.indeterminate {
    background-color: blue;
}

/* error popup dialog */

.error-i {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #1976d2;
}

.error-dialog {
    max-width: 500px;
    border: 1px solid #1976d2;
    border-radius: 5px;
}

/* --------------------------------------------------- headers */

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff0e6;
}

h4 {
    font-family: 'Blinker', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

h6 {
    font-weight: 600;
    font-size: 1rem;
    padding: 2px 5px 2px 5px;
}

.row {
    margin-bottom: 0;
}

.btn {
    border-radius: 10px;
}

/* --------------------------------------------------- header */
nav {
    background-color: #000;
    top: 0px;
}

.nav-passiv {
    color: #fff;
}

.nav-highlight {
    color: #ffc34d;
}

.brand-logo {
    font-family: 'Blinker', sans-serif;
    margin-left: 15px;
    color: #ffc34d;
}

.nav-wrapper i {
    margin-right: 10px;
    font-size: 1rem;
}

#mobile-menu {
    height: 11rem;
    background-color: #cce6ff;
    width: 200px;
}

/* --------------------------------------------------- search section */
#home-section {
    background-image: url("/static/images/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-section .collapsible {
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 0;
}

#home-section .collapsible-header {
    border: 0;
}

#home-section .collapsible li.active {
    background-color: #eeeeee;
}

.filteroptions-wrapper {
    padding-bottom: 15px;
    border: 3px solid #333;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.8);
}

#searchfield {
    margin: 0;
}

#home-section .collapsible {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 0 0 5px 5px;
}


/* --------------------------------------------------- topics section */

.hide-progress {
    display: none;
}

#progress-wrapper {
    width: 100%;
    height: 5px;
    position: relative;
}

#dbupdate-progress {
    top: 0;
    margin: 0;
    height: 5px;
    position: absolute;
   
}

.topics-background {
    background-image: radial-gradient(#fff, #fff, #ddd);
    
}

#topics-section .material-icons {
    margin-right: 0;
}

#topics-section .btn {
    margin: 10px;
}

li.active .collapsible-header i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapsible-header i {
    color: #1976d2;
}

input[type=search]:not(.browser-default) {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 1rem;
    height: 2.2rem;
    background-color: white;
}


[type="checkbox"]+span:not(.lever) { 
    padding-left: 23px;
    padding-right: 10px;
}

.collapsible-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: 0;
    border-top: 0.5px solid #aaa;
    background-color: #fff;
}

.collapsible-body {
    padding: 0;
}

label {
    color: #000;
}

.topic-author {
    margin-bottom: 10px;
}

.comment-form {
    display: none;
    height: 0px;
    background-color: #eee;
}

.cancel-comment {
    display: none;
    float: left;
}

.submit-comment {
    display: none;
    float: right;
}

.topic-action {
    color: #000;
}

.thumb-up,
.thumb-down,
.thumbs-field p {
    display: inline-block;
}

.thumb-up, .thumb-down {
    margin-left: 20px;
}

.details-wrapper {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #aaa;
    background-color: #cce6ff;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 10px 0 10px;
}

.flat-corner {
    border-radius: 10px 10px 0 10px;
}

.comment-text {
    width: 100%;
}

.thumbs-field {
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 4px #aaa;
    background-color: #cce6ff;
    width: 120px;
    margin: 0 auto 15px auto;
}

.topic-btn-wrapper {
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 4px #aaa;
    background-color: #cce6ff;
    margin: 0 10px 5px auto;
    float: right;
    width: 250px;
}

.topic-btn-wrapper i {
    font-size: 1.2rem;
    padding-right: 5px;
    margin-left: 20px;
}

.em-red {
    color: #f00;
}

.collapsible li.active {
    background-color: #e6f2ff;
}

.collapsible li.active .collapsible-header {
    background-color: #e6f2ff;
}

.empty-table {
    border-top: 0.5px solid #aaa;
    padding: 15px 0 15px 0;
}

.pagination {
    margin: 5px auto 15px auto;
    text-align: center;
}

/*------------------------------------------------------- new topic section    */

#addtopic-section {
    background-image: url("/static/images/bg-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.inputform-wrapper {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid #333;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,.8);
}

.save-btn-wrapper {
    width: 100px;
    margin: 10px auto 0 auto;
}

.save-btn-wrapper i {
    margin-right: 10px;
}

.platform-icons {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.platform-select {
    padding-top: 10px;
    
}

/*------------------------------------------------------- edit topic section    */

.buttons-row {
    padding-left: 10px;
    margin-top: 15px;
}

/*------------------------------------------------------- Footer    */

footer {
    width: 100%;
    height: 45px;
    padding-right: 15px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

footer > p {
    display: inline;
}

.social-icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 18px;
    color: #A69D91;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 3px;
}


/*------------------------------------------------------- Selectors    */

.collapsible-header:hover {
  background-color: #e6f2ff;
}