body {
    background-color: yellow;
    font-family: 'Blinker', sans-serif;
}

/* --------------------------------------------------- box special */

.right-align {
    text-align: right;
}

/* --------------------------------------------------- headers */

h1 {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.row {
    margin-bottom: 0;
}

.collapsible-header {
    padding-left: 0;
    padding-right: 0;
}

.collapsible-body {
    padding: 0.5rem;
}

.btn {
    border-radius: 10px;
}

/* --------------------------------------------------- topics */

.comment-form {
    display: none;
    height: 0px;
    background-color: lightblue;
}

.cancel-comment {
    display: none;
    float: left;
}

.submit-comment {
    display: none;
    float: right;
}