<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <title>SoftPursuit</title>
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">SoftPursuit</a>
                    <a href="" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="nav-link nav-highlight" href="#home-section"><i class="fas fa-search"></i>Search</a></li>
                        <li><a class="nav-link" href="#topics-section"><i class="fas fa-th-list"></i>Topics</a></li>
                        <li><a class="nav-link" href="#addtopic-section"><i class="fas fa-plus-circle"></i>Add topic</a></li>
                    </ul>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-menu">
                <li><a class="sidenav-close nav-link nav-highlight" href="#home-section"><i class="fas fa-search"></i>Search</a></li>
                <li><a class="sidenav-close nav-link" href="#topics-section"><i class="fas fa-th-list"></i>Topics</a></li>
                <li><a class="sidenav-close nav-link" href="#addtopic-section"><i class="fas fa-plus-circle"></i>Add topic</a></li>
            </ul>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <p>&#169; 2020 Andreas Jost</p>
            <a href="mailto:codefactory@gmx.ch">
            <i class="far fa-envelope text-center social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/andreas-jost-1218a7107/" target="_blank">
            <i class="fab fa-linkedin-in text-center social-icon"></i>
            </a>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- js function containing a flask url (they don't work in external js file) -->
        <script type="text/javascript">

            $(document).ready(function () {
                $("#dbupdate-progress").removeClass("hide-progress");
                baseUrl = "{{ url_for('get_topics') }}";
                commitAjax(baseUrl);
            });


            function commitSearch(keyword, items) {
                
            urlTemplate0 = "{{ url_for('search_topics', search_keyword='v1', search_scope='v2') }}";
            urlTemplate1 = urlTemplate0.replace(/v1/, keyword);
            baseUrl = urlTemplate1.replace(/v2/, items);
            commitAjax(baseUrl);
            }
            
            $('#sortdate').change(function () {
            $("#dbupdate-progress").removeClass("hide-progress");
            urlTemplate = "{{ url_for('sort_topics_date', date_order='v1') }}";
            baseUrl = urlTemplate.replace(/v1/, $(this).find('option:selected').attr('value'));
            commitAjax(baseUrl);
            });
            
            function platformChosen(items) {
            urlTemplate = "{{ url_for('filter_topics_platform', platform_filter='v1') }}";
            baseUrl = urlTemplate.replace(/v1/, items);
            commitAjax(baseUrl);
            }
            
            function costChosen(items) {
            urlTemplate = "{{ url_for('filter_topics_cost', cost_filter='v1') }}";
            baseUrl = urlTemplate.replace(/v1/, items);
            commitAjax(baseUrl);
            }
            
            function answersChosen(items) {
            urlTemplate = "{{ url_for('filter_topics_answer', answer_filter='v1') }}";
            baseUrl = urlTemplate.replace(/v1/, items);
            commitAjax(baseUrl);
            }
            
            function commitAjax(baseUrl) {
                req = $.ajax(baseUrl)
                req.done(function(data){
                    $("#dbupdate-progress").addClass("hide-progress");
                    $('#topics-table').html(data);
                });
            }

            // pagination
            function pageUp() {     
                $("#dbupdate-progress").removeClass("hide-progress");           
                baseUrl = "{{ url_for('pagination_plus') }}";
                commitAjax(baseUrl);
            }

            function pageDown() { 
                $("#dbupdate-progress").removeClass("hide-progress");               
                baseUrl = "{{ url_for('pagination_minus') }}";
                commitAjax(baseUrl);
            }

            function pageRandom(value) {
                $("#dbupdate-progress").removeClass("hide-progress");
                urlTemplate = "{{ url_for('pagination_random', value='v1') }}";
                baseUrl = urlTemplate.replace(/v1/, value);
                commitAjax(baseUrl);
            }
    
            
        </script>
    </body>
</html>