<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<section id="home-section">
    <div class="container">
        <h1>We help achieve your goal with the right software.</h1>
        <h3 class="center-align">Create a new topic. Or use the search function to check if someone else placed
            a similar subject.
            Write a comment to contribute to a topic.
        </h3>
        <div class="filteroptions-wrapper">
            <div class="row">
                <div class="col s12 m6 extra-padding">
                    <h6>Enter a search keyword:</h6>
                    <div class="searchfield-wrapper">
                        <input placeholder="Search" type="text" id="searchfield" maxlength="20">
                    </div>
                </div>
                <div class="col s12 m6">
                    <h6>Search scope</h6>
                    <div class="select-wrapper">
                        <select multiple id="search-scope">
                            <option value="title" selected>Titles</option>
                            <option value="details" selected>Details</option>
                            <option value="comments.comment_text" selected>Comments</option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-caret-down"></i>More search and sort options
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m6">
                                <h6>Sort publish date</h6>
                                <select id="sortdate">
                                    <option value="-1" selected>Descending</option>
                                    <option value="1">Ascending</option>
                                </select>
                            </div>
                            <div class="col s12 m6">
                                <h6>Select your preferred platform</h6>
                                <select multiple id="platformfilter">
                                    <option value="Windows" selected>Windows</option>
                                    <option value="MacOS" selected>MacOS</option>
                                    <option value="Linux" selected>Linux</option>
                                    <option value="Android" selected>Android</option>
                                    <option value="iOS" selected>iOS</option>
                                    <option value="Other" selected>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6">
                                <h6>Price</h6>
                                <select id="costfilter">
                                    <option value="All" selected>All</option>
                                    <option value="Free">Free</option>
                                    <option value="Paid">Paid</option>
                                </select>
                            </div>
                            <div class="col s12 m6">
                                <h6>Commented</h6>
                                <select id="answersfilter">
                                    <option value="All" selected>All</option>
                                    <option value="Answered">Answered</option>
                                    <option value="Unanswered">Unanswered</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- modal for defensive programming-->
        <div id="noselection-modal" class="modal error-dialog">
            <div class="modal-content">
                <p class="center-align"><span class="material-icons error-i">error</span></p>
                <p class="error-msg center-align">Please select at least 1 option</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-flat">OK</a>
            </div>
        </div>
        <div id="maxlength40-modal" class="modal error-dialog">
            <div class="modal-content">
                <p class="center-align"><span class="material-icons error-i">error</span></p>
                <p class="error-msg center-align">You have reached the limit of maximum <span id="character-limit">x</span> characters</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
        <div class="placeholder-bottom-section">
        </div>
    </div>
</section>
<section id="topics-section">
    <div class="topics-background">
        <div class="container">
            <h2>Topics</h2>
            <div id="topics-header">
                <!-- table header -->
                <div class="row">
                    <div class="col s12 l6">
                        <h4>Title</h4>
                    </div>
                    <div class="col s4 l2">
                        <h4>Published</h4>
                    </div>
                    <div class="col s4 l2 hidden-options">
                        <h4>Platform</h4>
                    </div>
                    <div class="col s2 l1">
                        <h4>Cost</h4>
                    </div>
                    <div class="col s2 l1">
                        <h4 class="center-align hide-on-small-only">Answers</h4>
                        <h4 class="center-align hide-on-med-and-up">Answ</h4>
                    </div>
                </div>
                <!-- creating the table with the data from the database -->
                <div id="topics-table">
                    <!-- the file topicstable.html is inserted here -->
                </div>
            </div>
        </div>
        <div class="placeholder-bottom-section">
        </div>
    </div>
</section>
<section id="addtopic-section">
    <div class="container">
        <h2 class="dark-background">Add a new topic</h2>
        <div class="inputform-wrapper">
            <div class="row">
                <form action="{{ url_for('insert_topic') }}" method="POST" class="col s12">
                    <div class="row">
                        <div class="col s12 m6">
                            <h6>Topic title:</h6>
                            <input id="topic-title" type="text" name="title" maxlength="40" value="{{ args.pre_title }}">
                        </div>
                        <div class="col s12 m6">
                            <h6>Your name:</h6>
                            <input id="topic-author" type="text" name="author" maxlength="40" value="{{ args.pre_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Detail description of what you want to achieve</h6>
                            <div class="textarea-wrapper">
                                <textarea id="topic-description" name="details" maxlength="400">{{ args.pre_details }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <h6>Select one or more platforms</h6>
                            <div class="platform-select">
                                <label>
                                    {% if "Windows" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="Windows" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="Windows">
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fab fa-windows"></i></span>
                                        Windows
                                    </span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                    {% if "MacOS" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="MacOS" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="MacOS"/>
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fab fa-apple"></i></span>
                                        MacOS
                                    </span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                    {% if "Linux" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="Linux" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="Linux"/>
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fab fa-linux"></i></span>
                                        Linux
                                    </span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                    {% if "Android" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="Android" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="Android"/>
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fab fa-android"></i></span>
                                        Android
                                    </span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                    {% if "iOS" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="iOS" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="iOS"/>
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fas fa-mobile-alt"></i></span>
                                        iOS
                                    </span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                    {% if "Other" in args.pre_platform %}
                                    <input type="checkbox" class="filled-in" name="os" value="Other" checked>
                                    {% else %}
                                    <input type="checkbox" class="filled-in" name="os" value="Other"/>
                                    {% endif %}
                                    <span>
                                        <span class="platform-icons"><i class="fas fa-desktop"></i></span>
                                        Other
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <h6>Purchase or subscription costs </h6>
                            <div class="platform-select">
                                <label>
                                {% if args.pre_cost == "Any" %}
                                <input type="radio" name="cost" value="Any" checked>
                                {% else %}
                                <input type="radio" name="cost" value="Any"/>
                                {% endif %}
                                <span>Any</span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                {% if args.pre_cost == "Free" %}
                                <input type="radio" name="cost" value="Free" checked>
                                {% else %}
                                <input type="radio" name="cost" value="Free"/>
                                {% endif %}
                                <span>Free</span>
                                </label>
                            </div>
                            <div class="platform-select">
                                <label>
                                {% if args.pre_cost == "Paid" %}
                                <input type="radio" name="cost" value="Paid" checked>
                                {% else %}
                                <input type="radio" name="cost" value="Paid"/>
                                {% endif %}
                                <span>Paid</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="save-btn-wrapper">
                            <button class="btn blue darken-2" type="submit" name="action"><i class="fas fa-file-download"></i>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="placeholder-bottom-section"></div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}