<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<section id="home-section">
    <div class="container">
    <h1>We help you achieve your goal. Choose the right software for your purpose.</h1>
    <h2>Create a new topic if you want tips for a certain task. Or use the search function to check if someone else
        has a similar request.
        Write a comment if you can contribute to someones topic. If the topic has been edited after a comment was
        placed, the comment is marked 'expired'.
    </h2>
    <div class="row">
        <div class="col s12 m6>">
            Enter a search keyword:
        </div>
        <div class="input-field search-field col s12 m6">
            <input placeholder="Search" type="search" class="validate" id="searchfield">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            Search scope
        </div>
        <div id="search-options" class="col s12 m6">
            <select multiple id="search-scope">
                <option value="title" selected>Titles</option>
                <option value="details" selected>Details</option>
                <option value="comments.comment_text" selected>Comments</option>
            </select>
        </div>
    </div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_list</i>Click here to choose more
                filters to sort and search your results
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m6">
                        Sort publish date
                    </div>
                    <div id="search-options" class="col s12 m6">
                        <div class="input-field">
                            <select id="sortdate">
                                <option value="-1" selected>Descending</option>
                                <option value="1">Ascending</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        Select your preferred platform
                    </div>
                    <div id="search-options" class="col s12 m6">
                        <div class="input-field">
                            <select multiple id="platformfilter">
                                <option value="Windows" selected>Windows</option>
                                <option value="MacOS" selected>MacOS</option>
                                <option value="Linux" selected>Linux</option>
                                <option value="Android" selected>Android</option>
                                <option value="iOS" selected>iOS</option>
                                <option value="Other" selected>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        Filter cost
                    </div>
                    <div id="search-options" class="col s12 m6">
                        <div class="input-field">
                            <select id="costfilter">
                                <option value="All" selected>All</option>
                                <option value="Free">Free</option>
                                <option value="Paid">Paid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        Commented yes or no
                    </div>
                    <div id="search-options" class="col s12 m6">
                        <div class="input-field">
                            <select id="answersfilter">
                                <option value="All" selected>All</option>
                                <option value="Answered">Answered</option>
                                <option value="Unanswered">Unanswered</option>
                            </select>
                        </div>
                    </div>
                </div>
        </li>
    </ul>
    </div>
</section>
<section id="topics-section">
    <div id="progress-wrapper">
        <div class="progress hide-progress" id="dbupdate-progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div id="topics-header">
        <!-- table header -->
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <h4>Topics</h4>
                </div>
                <div class="col s4 l2">
                    <h4>Published</h4>
                </div>
                <div class="col s4 l2 hidden-options">
                    <h4>Platform</h4>
                </div>
                <div class="col s2 l1">
                    <h4>Cost</h4>
                </div>
                <div class="col s2 l1">
                    <h4>Answers</h4>
                </div>
            </div>
        </div>
        <!-- creating the table with the data from the database -->
        <div id="topics-table" class="container">
            <ul class="collapsible" data-collapsible="accordion">
                {% for topic in topics %}
                <li>
                    <div class="collapsible-header">
                        <div class="row">
                            <div class="col s12 l6">
                                <h5><i class="fas fa-caret-down"></i>{{ topic.title }}</h5>
                            </div>
                            <div class="col s4 l2">
                                {{ topic.publish_date.strftime('%d-%m-%Y') }}
                            </div>
                            <div class="col s4 l2">
                                {% for getos in topic.os %}
                                {{ getos }}
                                {% if not loop.last %}
                                ,
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col s2 l1">
                                {{ topic.cost }}
                            </div>
                            <div class="col s2 l1">
                                <div>{{ topic.comments|length }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- collapsible body -->
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="comment-wrapper">
                                <p>{{ topic.details }}</p>
                                <p class="right-align topic-author"><em>{{ topic.author }}</em></p>
                            </div>
                            <div class="topic-btn-wrapper">
                                <a href="{{ url_for('delete_topic', topic_id=topic._id) }}"
                                    class="topic-action"><i class="material-icons">delete</i>Delete Topic</a>
                                <a href="{{ url_for('edit_topic', topic_id=topic._id) }}"
                                    class="topic-action"><i class="material-icons">edit</i>Edit Topic</a>
                            </div>
                        </div>
                        <!-- Display the comment(s) -->
                        <div class="row">
                            <div class="col s12">
                                <h5>Comments:</h5>
                            </div>
                        </div>
                        {% for object in topic.comments %}
                        <div class="row">
                            <div class="comment-wrapper">
                                <div class="comment-text">
                                    {% if object.expired %}
                                    <p><span class="em-red">Expired: </span>{{ object.comment_text }}</p>
                                    {% else %}
                                    <p>{{ object.comment_text }}</p>
                                    {% endif %}
                                    <p class="right-align"><em>{{ object.comment_author }}</em></p>
                                </div>
                            </div>
                            <div class="thumbs-field">
                                <div class="thumb-up" topic_id="{{ topic._id }}" loop_index="{{ loop.index }}">
                                    <i class="fas fa-thumbs-up"></i>
                                </div>
                                <p>{{ object.comment_pos }}</p>
                                <div class="thumb-down" topic_id="{{ topic._id }}" loop_index="{{ loop.index }}">
                                    <i class="fas fa-thumbs-down"></i>
                                </div>
                                <p>{{ object.comment_neg }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Input form for comments/answers -->
                        <form action="{{ url_for('insert_comment', topic_id=topic._id) }}" method="POST">
                            <div class="comment-form">
                                <div class="row">
                                    <div class="input-field col s12">
                                        Write your comment here
                                        <input type="text" class="validate" name="comment_text">
                                    </div>
                                    <div class="input-field col s12">
                                        Your name (will be displayed below the comment)
                                        <input type="text" class="validate" name="comment_author">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn cancel-comment" type="button">Cancel              
                                </button>
                                <button class="btn submit-comment" name="action">Submit             
                                </button>
                                <button class="btn add-comment" type="button">New comment              
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            Displaying {{ args.p_limit }} of {{ args.num_results }} topics in total
            <!-- pagination -->
            {% if args.num_results > args.p_limit %}
            <ul class="pagination">
                {% if args.p_offset > 0 %}
                <li class="waves-effect"><a href="{{args.prev_url}}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in range (1, args.num_pages) %}
                {% if args.active_page == page %}
                <li class="active"><a href="">{{ page }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="#!">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if args.p_offset + args.p_limit < args.num_results  %}
                <li class="waves-effect"><a href="{{args.next_url}}"><i class="material-icons">chevron_right</i></a>
                </li>
                {% else %}
                <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
         $('select').formSelect();
         
       // Add commenting functionality
         $(".add-comment").click(function(){
             $(".comment-form").animate({height: "200px"});
             $(".cancel-comment, .submit-comment, .comment-form").show();
             $(".add-comment, .topic-options").hide();
         });
         $(".cancel-comment").click(function(){
             $(".comment-form").animate({height: "0px"}, function(){$(".comment-form").hide()});
             $(".cancel-comment, .submit-comment").hide();
             $(".add-comment, .topic-options").show();
         });
       
         // Add rating functionality (thumbs up/down)
         $(".thumb-up").on('click', function(){
             urlTemplate = "{{ url_for('rate_pos', topic_id='v1', index='v2') }}";
             urlTemplateId = urlTemplate.replace(/v1/, $(this).attr('topic_id'));
             baseUrl = urlTemplateId.replace(/v2/, $(this).attr('loop_index')); 
             thumbsCountDisplay = $(this).next();
             req = $.ajax(baseUrl)
             req.done(function(data){
                 let result = JSON.parse(req.responseText)
                 $(thumbsCountDisplay).replaceWith(`<p>${result["totalThumbs"]}</p>`);
             });
       
         });
         $(".thumb-down").on('click', function(){
             urlTemplate = "{{ url_for('rate_neg', topic_id='v1', index='v2') }}";
             urlTemplateId = urlTemplate.replace(/v1/, $(this).attr('topic_id'));
             baseUrl = urlTemplateId.replace(/v2/, $(this).attr('loop_index')); 
             thumbsCountDisplay = $(this).next();
             req = $.ajax(baseUrl)
             req.done(function(data){
                 let result = JSON.parse(req.responseText)
                 $(thumbsCountDisplay).replaceWith(`<p>${result["totalThumbs"]}</p>`);
             })
         });
       
       
         $('#searchfield').on("input", function(){
             $("#dbupdate-progress").removeClass("hide-progress");
             delay.count();
         });
       
         $('#search-scope').change(function() {
             $("#dbupdate-progress").removeClass("hide-progress");
             searchFunction();
         });
       
       
         $('#sortdate').change(function() {
             $("#dbupdate-progress").removeClass("hide-progress");
             urlTemplate = "{{ url_for('sort_topics_date', date_order='v1') }}";
             baseUrl = urlTemplate.replace(/v1/, $(this).find('option:selected').attr('value'));
             req = $.ajax(baseUrl)
             req.done(function(data){
                 $("#dbupdate-progress").addClass("hide-progress");
                 $('#topics-table').html(data);
             });
       
         });
       
       
         $('#platformfilter').change(function() {
             $("#dbupdate-progress").removeClass("hide-progress");
             let items = [];
             $(this).find('option:selected').each(function() {
               item = ($(this).val());
               items.push(item);
             });
             urlTemplate = "{{ url_for('filter_topics_platform', platform_filter='v1') }}";
             baseUrl = urlTemplate.replace(/v1/, items);
             req = $.ajax(baseUrl)
             req.done(function(data){
                 $("#dbupdate-progress").addClass("hide-progress");
                 $('#topics-table').html(data);
             });
         });
       
         $('#costfilter').change(function() {
             $("#dbupdate-progress").removeClass("hide-progress");
             urlTemplate = "{{ url_for('filter_topics_cost', cost_filter='v1') }}";
             baseUrl = urlTemplate.replace(/v1/, $(this).find('option:selected').attr('value'));
             req = $.ajax(baseUrl)
             req.done(function(data){
                 $("#dbupdate-progress").addClass("hide-progress");
                 $('#topics-table').html(data);
             });
       
         });
       
         $('#answersfilter').change(function() {
             $("#dbupdate-progress").removeClass("hide-progress");
             urlTemplate = "{{ url_for('filter_topics_answer', answer_filter='v1') }}";
             baseUrl = urlTemplate.replace(/v1/, $(this).find('option:selected').attr('value'));
             req = $.ajax(baseUrl)
             req.done(function(data){
                 $("#dbupdate-progress").addClass("hide-progress");
                 $('#topics-table').html(data);
             });
         });
       
       })
       
       function searchFunction() {
       let keyword = $('#searchfield').val();
       if (keyword.length < 1) {
           keyword = ".*";
       }
       
       let items = [];
       $('#search-scope').find('option:selected').each(function() {
           item = ($(this).val());
           items.push(item);
       });
       
       urlTemplate0 = "{{ url_for('search_topics', search_keyword='v1', search_scope='v2') }}";
       urlTemplate1 = urlTemplate0.replace(/v1/, keyword);
       baseUrl = urlTemplate1.replace(/v2/, items);
       
       req = $.ajax(baseUrl)
       req.done(function(data){
           $("#dbupdate-progress").addClass("hide-progress");
           $('#topics-table').html(data);
       });
       }
       
       // set a short delay after every keystroke in the search field
       let delay = {
       timer: setTimeout(function () {
           // 
       }, 100),
       count: function () {
           clearTimeout(this.timer);
           this.timer = setTimeout(function () {
               searchFunction();
           }, 500);
       }
       };
       
</script>
{% endblock %}