<!DOCTYPE html>
{% if topics %}
<ul class="collapsible" data-collapsible="accordion">
    {% for topic in topics %}
    <li>
        <div class="collapsible-header">
            <div class="row">
                <div class="col s12 l6">
                    <h5><i class="fas fa-caret-down"></i>{{ topic.title }}</h5>
                </div>
                <div class="col s4 l2">
                    {{ topic.publish_date.strftime('%d-%m-%Y') }}
                </div>
                <div class="col s4 l2">
                    {% for getos in topic.os %}
                    {{ getos }}
                    {% if not loop.last %}
                    -
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col s2 l1">
                    {{ topic.cost }}
                </div>
                <div class="col s2 l1">
                    <div class="center-align">{{ topic.comments|length }}</div>
                </div>
            </div>
        </div>
        <!-- collapsible body -->
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12">
                    <h5>Details:</h5>
                </div>
            </div>
            <div class="row">
                <div class="details-wrapper flat-corner">
                    <p>{{ topic.details }}</p>
                    <p class="right-align topic-author"><em>{{ topic.author }}</em></p>
                </div>
                <div class="topic-btn-wrapper">
                    <a href="javascript:showDeleteWarning()"
                        class="topic-action"><i class="fas fa-trash-alt"></i>Delete topic</a>
                    <a href="{{ url_for('edit_topic', topic_id=topic._id) }}"
                        class="topic-action"><i class="fas fa-edit"></i>Edit topic</a>
                </div>
                <div class="modal error-dialog delete-warning">
                    <div class="modal-content">
                        <p class="center-align"><span class="material-icons error-i">error</span></p>
                        <p class="error-msg center-align">Do you really want to delete the topic '{{ topic.title }}' ?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:hideDeleteWarning();" class="modal-action modal-close btn-flat">Cancel</a>
                        <a href="{{ url_for('delete_topic', topic_id=topic._id) }}"
                            class="modal-action modal-close btn-flat">Yes</a>
                    </div>
                </div>
            </div>
            <!-- Display the comment(s) -->
            <div class="row">
                <div class="col s12">
                    <h5>Comments:</h5>
                </div>
            </div>
            {% for object in topic.comments %}
            <div class="row">
                <div class="details-wrapper">
                    <div class="comment-text">
                        {% if object.expired %}
                        <p><span class="em-red">Expired: </span>{{ object.comment_text }}</p>
                        {% else %}
                        <p>{{ object.comment_text }}</p>
                        {% endif %}
                        <p class="right-align"><em>{{ object.comment_author }}</em></p>
                    </div>
                </div>
                <div class="thumbs-field">
                    <a href="#!" class="thumb-up" topic_id="{{ topic._id }}" comment_id="{{ object.comment_id }}">
                    <i class="fas fa-thumbs-up"></i>
                    </a>
                    <p>{{ object.comment_pos }}</p>
                    <a href="#!" class="thumb-down" topic_id="{{ topic._id }}" comment_id="{{ object.comment_id }}">
                    <i class="fas fa-thumbs-down"></i>
                    </a>
                    <p>{{ object.comment_neg }}</p>
                </div>
            </div>
            {% endfor %}
            <!-- Input form for comments/answers -->
            <form action="{{ url_for('insert_comment', topic_id=topic._id) }}" method="POST">
                <div class="comment-form">
                    <div class=".comment-error">
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Write your comment here</h6>
                            <textarea class="comment-input" maxlength="400" name="comment_text"></textarea>
                        </div>
                        <div class="col s12">
                            <h6>Your name</h6>
                            <div class="inputname-wrapper">
                                <input type="text" class="comment-author" name="comment_author" maxlength="40">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn blue darken-2 cancel-comment" type="button">Cancel              
                    </button>
                    <button class="btn blue darken-2 submit-comment" name="action">Save             
                    </button>
                    <button class="btn blue darken-2 add-comment" type="button">New comment              
                    </button>
                </div>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col s12 m6">
        <p>Displaying {{ paginationOpt.p_limit }} of {{ paginationOpt.num_results }} topics</p>
    </div>
    <div class="col s12 m6">
        <a href="{{url_for('reset_filters')}}" class="right">Reset search options</a>
    </div>
</div>
{% else %}
<div class="row empty-table">
    <div class="col s12 m6">
        <p class="em-red">No topics found. Please adjust your search.</p>
    </div>
    <div class="col s12 m6">
        <a href="{{url_for('reset_filters')}}" class="right">Reset search options</a>
    </div>
</div>
{% endif %}
<!-- pagination -->
{% if paginationOpt.num_results > paginationOpt.p_limit %}
<ul class="pagination">
    {% if paginationOpt.p_offset > 0 %}
    <li><a href="javascript:pageDown();"><i class="material-icons blue-arrow">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for page in range (1, paginationOpt.num_pages) %}
    {% if paginationOpt.active_page == page %}
    <li class="active">{{ page }}</li>
    {% else %}
    <li><a href="javascript:pageRandom({{ page }});">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    {% if paginationOpt.p_offset + paginationOpt.p_limit < paginationOpt.num_results  %}
    <li><a href="javascript:pageUp();"><i class="material-icons blue-arrow">chevron_right</i></a>
    </li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
{% endif %}
<script>
    // the js functions are here because they are not called in the external js file
    $('.collapsible').collapsible();
    $('.modal').modal();
    
    /* custom open and close Materialize modal in js because it has a class, and not
    an id as required in the documentation */
    function showDeleteWarning() {
        $(".delete-warning").modal('open');
    }
    function hideDeleteWarning() {
        $(".delete-warning").modal('close');
    }
    
     // Add commenting functionality
    $(".add-comment").click(function() {
        $(".comment-form").animate({ height: "200px" });
        $(".cancel-comment, .submit-comment, .comment-form").show();
        $(".add-comment, .topic-options").hide();
    });
    $(".cancel-comment").click(function() {
        $(".comment-form").animate({ height: "0px" }, function () { $(".comment-form").hide() });
        $(".cancel-comment, .submit-comment").hide();
        $(".add-comment, .topic-options").show();
    });
    
    // Add rating functionality (thumbs up/down). Does not work in any other file than here.
    $(".thumb-up").on('click', function() {
        $("#dbupdate-progress").removeClass("hide-progress");
        urlTemplate = "{{ url_for('rate_pos', topic_id='v1', comment_id='v2') }}";
        urlTemplateId = urlTemplate.replace(/v1/, $(this).attr('topic_id'));
        baseUrl = urlTemplateId.replace(/v2/, $(this).attr('comment_id'));
        thumbsCountDisplay = $(this).next();
        req = $.ajax(baseUrl)
        req.done(function (data) {
            let result = JSON.parse(req.responseText)
            $(thumbsCountDisplay).replaceWith(`<p>${result["totalThumbs"]}</p>`);
            $("#dbupdate-progress").addClass("hide-progress");
        });
    
    });
    $(".thumb-down").on('click', function() {
        $("#dbupdate-progress").removeClass("hide-progress");
        urlTemplate = "{{ url_for('rate_neg', topic_id='v1', comment_id='v2') }}";
        urlTemplateId = urlTemplate.replace(/v1/, $(this).attr('topic_id'));
        baseUrl = urlTemplateId.replace(/v2/, $(this).attr('comment_id'));
        thumbsCountDisplay = $(this).next();
        req = $.ajax(baseUrl)
        req.done(function (data) {
            let result = JSON.parse(req.responseText)
            $(thumbsCountDisplay).replaceWith(`<p>${result["totalThumbs"]}</p>`);
            $("#dbupdate-progress").addClass("hide-progress");
        })
    });
    
    // Defensive programming: Checking the length of text entered
    $('textarea, input').on("input", function() {
        checkTextLength($(this))
    });
    
    // Defensive programming: User cannot enter more than 'maxlength'-digits
    function checkTextLength(element) {
    if (element.val().length > element.attr('maxlength') - 1) {
            limit = String(element.attr('maxlength'));
            $('#character-limit').text(limit);
            $('#maxlength40-modal').modal('open');
            return false;
        } else {
            return true;
        }
    }
</script>