<!DOCTYPE html>
<ul class="collapsible" data-collapsible="accordion">
    {% for topic in topics %}
    <li>
        <div class="collapsible-header">
            <div class="row">
                <div class="col s12 l6">
                    <h5><i class="fas fa-caret-down"></i>{{ topic.title }}</h5>
                </div>
                <div class="col s4 l2">
                    {{ topic.publish_date.strftime('%d-%m-%Y') }}
                </div>
                <div class="col s4 l2">
                    {% for getos in topic.os %}
                    {{ getos }}
                    {% if not loop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col s2 l1">
                    {{ topic.cost }}
                </div>
                <div class="col s2 l1">
                    <div>{{ topic.comments|length }}</div>
                </div>
            </div>
        </div>
        <!-- collapsible body -->
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12">
                    <h5>Details:</h5>
                </div>
            </div>
            <div class="row">
                <div class="details-wrapper flat-corner">
                    <p>{{ topic.details }}</p>
                    <p class="right-align topic-author"><em>{{ topic.author }}</em></p>
                </div>
                <div class="topic-btn-wrapper">
                    <a href="{{ url_for('delete_topic', topic_id=topic._id) }}"
                        class="topic-action"><i class="material-icons">delete</i>Delete Topic</a>
                    <a href="{{ url_for('edit_topic', topic_id=topic._id) }}"
                        class="topic-action"><i class="material-icons">edit</i>Edit Topic</a>
                </div>
            </div>
            <!-- Display the comment(s) -->
            <div class="row">
                <div class="col s12">
                    <h5>Comments:</h5>
                </div>
            </div>
            {% for object in topic.comments %}
            <div class="row">
                <div class="details-wrapper">
                    <div class="comment-text">
                        {% if object.expired %}
                        <p><span class="em-red">Expired: </span>{{ object.comment_text }}</p>
                        {% else %}
                        <p>{{ object.comment_text }}</p>
                        {% endif %}
                        <p class="right-align"><em>{{ object.comment_author }}</em></p>
                    </div>
                </div>
                <div class="thumbs-field">
                    <div class="thumb-up" topic_id="{{ topic._id }}" loop_index="{{ loop.index }}">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <p>{{ object.comment_pos }}</p>
                    <div class="thumb-down" topic_id="{{ topic._id }}" loop_index="{{ loop.index }}">
                        <i class="fas fa-thumbs-down"></i>
                    </div>
                    <p>{{ object.comment_neg }}</p>
                </div>
            </div>
            {% endfor %}
            <!-- Input form for comments/answers -->
            <form action="{{ url_for('insert_comment', topic_id=topic._id) }}" method="POST">
                <div class="comment-form">
                    <div class=".comment-error">
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label for="comment-input">
                                <h6>Write your comment here</h6>
                            </label>
                            <textarea class="comment-input" maxlength="400" name="comment_text"></textarea>
                        </div>
                        <div class="col s12">
                            <label for="comment-author">
                                <h6>Your name</h6>
                            </label>
                            <input type="text" class="comment-author" name="comment_author" maxlength="40">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn blue darken-2 cancel-comment" type="button">Cancel              
                    </button>
                    <button class="btn blue darken-2 submit-comment" name="action">Save             
                    </button>
                    <button class="btn blue darken-2 add-comment" type="button">New comment              
                    </button>
                </div>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>


Displaying {{ paginationOpt.p_limit }} of {{ paginationOpt.num_results }} topics in total
<!-- pagination -->
{% if paginationOpt.num_results > paginationOpt.p_limit %}
<ul class="pagination">
    {% if paginationOpt.p_offset > 0 %}
    <li><a href="javascript:pageDown();"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for page in range (1, paginationOpt.num_pages) %}
    {% if paginationOpt.active_page == page %}
    <li class="active"><a href="#">{{ page }}</a></li>
    {% else %}
    <li><a href="javascript:pageRandom({{ page }});">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    {% if paginationOpt.p_offset + paginationOpt.p_limit < paginationOpt.num_results  %}
    <li><a href="javascript:pageUp();"><i class="material-icons">chevron_right</i></a>
    </li>
    {% else %}
    <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
{% endif %}

<script>
    $('.collapsible').collapsible();
    
</script>